spring:
  datasource:
      url: jdbc:mysql://${db.url}:${db.port}/workshop?useUnicode=true&characterEncoding=utf8
      username: ${db.username}
      password: ${db.password}

mybatis:
  mapper-locations: classpath:mappers/**/*.xml
  type-aliases-package: com.spring.enjoytrip.board

logging:
   level:
     root: info
#     org.springframework.web: info
#     guru.springframework.controllers: DEBUG

jwt:
  token:
    header: api_key
    issuer: social_server
    clientSecret: Rel3Bjce2MajBo09qgkNgYaTuzvJe8iwnBFhsDS5
    expirySeconds: 0
