spring:
  datasource:
      url: jdbc:mysql://${db.url}:${db.port}/workshop?useUnicode=true&characterEncoding=utf8
      username: ${db.username}
      password: ${db.password}
  thymeleaf:
    check-template-location: false
  servlet:
    multipart:
      enabled: true
      location: c:/ssafy/temp
      max-request-size: 30MB
      max-file-size: 10MB

com.upload.path: c:/ssafy/upload
        
        
    
mybatis:
  mapper-locations: classpath:mappers/**/*.xml
  type-aliases-package: com.spring.enjoytrip.board

logging:
   level:
     root: info
#     org.springframework.web: info
#     guru.springframework.controllers: DEBUG

jwt:
  token:
    header: Authorization
    issuer: social_server
    clientSecret: Rel3Bjce2MajBo09qgkNgYaTuzvJe8iwnBFhsDS5
    expirySeconds: 600
    refreshExpirySeconds: 2592000

api:
  data:
    key: ${api.data}
  naver:
    id: ${api.naver.id}
    secret: ${api.naver.secret}
    url : ${api.naver.url}
  s3:
    id: ${api.s3.id}
    secret: ${api.s3.secret}
    url: ${api.s3.url}